.plugin-label { margin-top:8px; font-size: 16px; padding: 3px;}
.plugin-content { margin-top:5px; font-size: 14px;}
ul,li {
  list-style-type: none;
  padding: 3px;
  margin: 0px; 
}
.smalles {font-size: 18px;}